<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Gils Logger Service- Create</title>
    <meta name="author" content="Gil Steinberg">
    </meta>
    <link rel="stylesheet" href="/stylesheets/tachyons.min.css" />
    </link>
    <link rel="stylesheet" href="/stylesheets/style.css">
    </link>
    <script src="/javascripts/axios.min.js"></script>
    <script src="/javascripts/lodash.min.js"></script>
</head>

<body>
<nav class=" mb2">
    <ul>
        <li class=" active"><a href=" /create">Add Containers</a></li>
        <li><a href=" /read">Show Containers</a></li>
        <li><a href="/update">Update Container</a></li>
        <li><a href=" /delete">Delete Containers</a></li>
    </ul>
    <img class="fr logo" src="/images/gil-logo.png">
</nav>
<div class="pl4">
    <form class="w-25" autocomplete="off">
        <div class="flex flex-column pt2">
            <label>Name</label>
            <input name="name" type="text" required />
            <div class="error"></div>
        </div>
        <div class="flex flex-column pt2">
            <label>Docker ID</label>
            <input name="dockerId" type="text" required/>
            <div class="error"></div>
        </div>
        <div class="flex flex-column pt2">
            <label>Docker IP</label>
            <input name="dockerIp" type="text" required/>
            <div class="error"></div>
        </div>
        <div class="flex flex-column pt2">
            <label>Docker Port</label>
            <input name="dockerPort" type="number"/>
            <div class="error"></div>
        </div>
        <button id="submit" class="fr mt2">Add Product</button>
    </form>
</div>
</body>
<footer>
    <script src="/javascripts/create.js"></script>
</footer>

</html>
